.under-construction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: image-url('bg-cross.svg') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  h1 {
    font-size: 32px;
    color: $brand-red;
    font-weight: 700;
  }

  h3 {
    font-size: 22px;
    color: white;
    margin-top: 0;
  }

  a {
    width: 250px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

    .fa-arrow-left {
      font-size: 16px;
      margin-right: 5px;
      padding-bottom: 1px;
    }
  }
}

.banner-pages {
  height: 35vh;
  padding-top: 3vh;
  background-color: $brand-red;
  color: $brand-black;
  /* Copy paste this to
  center your element */
  display: flex;
  /* This center vertically */
  justify-content: center;
  /* This center horizontally */
  align-items: center;

  h1 {
    font-weight: 500;
    font-size: 36px;
  }
}
