<div id="challenges">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title text-center mb30">
          Latest challenges
        </h2>
      </div>
    </div>

    <div class="row mt30">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-challenges">
          <div class="challenges-title">15-days CSS Challenge</div>
          <p class="challenges-snippet">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nesciunt adipisci minima architecto odio, culpa commodi ullam, officia facere perferendis necessitatibus aperiam, illo earum ipsum, ab pariatur mollitia excepturi vel.
          </p>
          <a href="/challenges/15-days-css" class="button-primary">Start</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-challenges">
          <div class="challenges-title">CSS-grid Challenge</div>
          <p class="challenges-snippet">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quaerat rerum, similique deleniti, cupiditate architecto eius voluptas autem quibusdam perferendis minus ipsam itaque aperiam hic, suscipit maxime recusandae maiores nemo.
          </p>
          <a href="/challenges/css-grid" class="button-primary">Start</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-challenges">
          <div class="challenges-title">Animation Challenge</div>
          <p class="challenges-snippet">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero aspernatur fugit, quas odit libero doloremque, deleniti aut distinctio a iste molestias neque omnis excepturi alias, quisquam laborum accusamus nisi.
          </p>
          <a href="/challenges/animation" class="button-primary">Start</a>
        </div>
      </div>
    </div>

    <div class="row mt100">
      <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 text-center">
        <a href="/challenges" class="section-link ">See more challenges...</a>
      </div>
    </div>
  </div>
</div>
