<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title text-center">
          Upcoming events
        </h2>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">15 NOVEMBER</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Code your Landing Page in 2-hours (Part 1)</div>
              <div class="card-event-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis ex distinctio et sed aperiam non culpa ullam atque.</div>
            </div>
            <a href="/events/landing-page-part-1" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">10 DECEMBER</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Learn HTML and CSS Basics</div>
              <div class="card-event-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deserunt sapiente tenetur error at inventore, non quas doloribus..</div>
            </div>
            <a href="/events/html-css-basic" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">9 JANUARY</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Deploy your Landing Page in 2-hours (Part 2)</div>
              <div class="card-event-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ipsum maiores, id, maxime natus distinctio, est reprehenderit adipisci.</div>
            </div>
            <a href="/events/landing-page-part-2" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">22 FEBRUARY</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Basic animation <br>with CSS</div>
              <div class="card-event-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora id voluptates deserunt impedit! Beatae ad ratione, placeat ut quos quisquam.</div>
            </div>
            <a href="/events/design-css" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 text-center">
        <a href="/events" class="section-link ">See all events...</a>
      </div>
    </div>
  </div>
</div>
