<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title text-center">
          Upcoming events
        </h2>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">27 NOVEMBER</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Code your Landing Page in 2-hours (Part 1)</div>
              <div class="card-event-desc">For you very first workshop learn how to code a static landing page
              in 2-hours with HTML and CSS.</div>
            </div>
            <a href="/events/landing-page-part-1" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">18 DECEMBER</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Deploy your Landing Page in 2-hours (Part 2)</div>
              <div class="card-event-desc">Learn how to deploy on internet your static website you built during the last
              workshop using Git, Github and Heroku.</div>
            </div>
            <a href="/events/landing-page-part-2" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">22 JANUARY</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Learn HTML and CSS Basics</div>
              <div class="card-event-desc">Learn to build your first components with HTML and CSS to make
              your website user-friendly and beautiful.</div>
            </div>
            <a href="/events/html-css" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="card-event">
            <div class="card-event-header">
              <h3 class="card-event-date">19 FEBRUARY</h3>
            </div>
            <div class="header-shadow"></div>
            <div class="card-event-content">
              <div class="card-event-title">Basic animations and transitions with CSS</div>
              <div class="card-event-desc">During 2-hours learn how to use and create basic animations and transitions
              with CSS to make user's experience better on a website. </div>
            </div>
            <a href="/events/animation-css" class="card-event-cta button-primary button-small">Attend</a>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-sm-12 col-lg-12 text-center">
        <a href="/events" class="section-link ">See all events...</a>
      </div>
    </div>
  </div>
</div>
