<%= render "shared/navbar" %>
<%#= render "pages/under_construction" %>

<div class="banner-pages">
  <h1>Upcoming Events</h1>
</div>

<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-event-large">

        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-event-large">

        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-event-large">

        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-event-large">

        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
