<%= render "shared/navbar" %>
<%#= render "pages/under_construction" %>

<div class="banner-pages">
  <h1>Upcoming Events</h1>
</div>

<div id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-event-large">
          <div class="card-event-header">
            <div class="card-event-date">NOVEMBER 27</div>
          </div>
          <div class="header-shadow"></div>
          <div class="card-event-content">
            <div class="card-event-title">Code your Landing Page in 2-hours (part 1)</div>
            <div class="card-event-desc">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">test</div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">prix</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-event-large">
          <div class="card-event-header">
            <div class="card-event-date">NOVEMBER 27</div>
          </div>
          <div class="header-shadow"></div>
          <div class="card-event-content">
            <div class="card-event-title">Code your Landing Page in 2-hours (part 1)</div>
            <div class="card-event-desc">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">test</div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">prix</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-event-large">
          <div class="card-event-header">
            <div class="card-event-date">NOVEMBER 27</div>
          </div>
          <div class="header-shadow"></div>
          <div class="card-event-content">
            <div class="card-event-title">Code your Landing Page in 2-hours (part 1)</div>
            <div class="card-event-desc">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">test</div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">prix</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-event-large">
          <div class="card-event-header">
            <div class="card-event-date">NOVEMBER 27</div>
          </div>
          <div class="header-shadow"></div>
          <div class="card-event-content">
            <div class="card-event-title">Code your Landing Page in 2-hours (part 1)</div>
            <div class="card-event-desc">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">test</div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">prix</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
