#banner {
  height: 80vh;
  background: image-url('bg-cross.svg') no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  padding-top: 30vh;
}

.tagline {
  font-family: "Anonymous Pro";
  font-size: 35px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
