.section-title {
  color: white !important;
  font-size: 24px;
  margin-bottom: 70px;
  text-decoration: underline;
}

.section-link {
  color: white !important;
  font-size: 18px;
  margin-top: 70px;

  &:hover {
    color: $brand-red !important;
    text-decoration: none;
  }
}
