.button-primary {
  background-color: rgba(241, 91, 99, 1.00);
  padding: 10px 30px;
  color: rgba(34, 34, 34, 1.00);
  border-radius: 50px;
  font-size: 22px;
  font-weight: bold;
  font-family: "Anonymous Pro";

  &:hover {
    transition: ease .2s;
    text-decoration: none;
    color: white;
  }

  &:focus {
    text-decoration: none;
    color: white;
  }
}

.button-small {
  padding: 5px 35px;
  font-size: 18px;
}
