.card-challenges {
  position: relative;
  height: 300px;
  // background-color: white;
  border-radius: 5px;

  @media screen and (max-width: 450px) {
    margin-left: 0px !important;
    margin-bottom: 50px;
  }

  .challenges-title {
    position: absolute;
    color: $brand-red;
    font-size: 20px;
    font-weight: 600;
  }

  .challenges-snippet {
    position: absolute;
    color: white;
    top: 40px;
    font-size: 16px;
  }

  a {
    position: absolute;
    bottom: 10px;
  }
}
